#
# Core
#

JUPYTER_CONFIG_DIR=./.jupyter

SD_DATA_DIR=${HOME}/.smalldata

#
# User
#

AWS_S3_BUCKET=default

KAGGLE_USERNAME=

KAGGLE_KEY=

MINIO_ROOT_USER=user

MINIO_ROOT_PASSWORD=password

MINIO_PORT=9000

MINIO_CONSOLE_PORT=9001

MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=password
