AWS_S3_BUCKET=default

DBT_PROFILES_DIR=./src/transformation

JUPYTER_CONFIG_DIR=./.jupyter

MINIO_ROOT_USER=user

MINIO_ROOT_PASSWORD=password

MINIO_PORT=9000

MINIO_CONSOLE_PORT=9001

MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=password

SD_DATA_DIR=${HOME}/.smalldata
