AWS_S3_BUCKET=default

DBT_PROFILES_DIR=./src/smalldata/transformation

DUCKDB_DIR=${HOME}/.smalldata

KAGGLE_USERNAME=

KAGGLE_KEY=

MINIO_ROOT_USER=user

MINIO_ROOT_PASSWORD=password

MINIO_PORT=9000

MINIO_CONSOLE_PORT=9001

MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=password
