# Smalldata
/.smalldata/
.tmp/

# Jupyter Notebook
.ipynb_checkpoints/
migrated

# Python
__pycache__/
/.venv/
requirements.txt

# Ruff
/.ruff_cache/

# dbt
dbt_packages/
logs/
target/
.user.yml

# Elementary
elementary-target/

# dotenv
/.env
