# Smalldata
/.smalldata/

# Jupyter Notebook
.ipynb_checkpoints/
migrated

# Python
__pycache__/
/.venv/
/.python-version
requirements.txt

# Ruff
/.ruff_cache/

# dbt
dbt_packages/
logs/
target/
.user.yml

# dotenv
/.env
